@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: theme('colors.white');
    --background-start-rgb: theme('colors.stone.900');
    --background-end-rgb: theme('colors.stone.800');
}

body {
    color: var(--foreground-rgb);
    background: linear-gradient(to bottom,
            transparent,
            var(--background-end-rgb)) var(--background-start-rgb);
    height: 100vh;
}

input {
    all: unset;
}

.success {
    @apply bg-green-100;
    @apply  border-l-green-700;
}

.error {
    @apply bg-red-100;
    @apply  border-l-red-700;
}